@import url("https://fonts.googleapis.com/css2?family=Goblin+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
/*Variables*/
/*FUNCIONES*/
/*ESTILOS GENERALES*/
body {
  background-color: #020202;
  color: white; }

/*BARRA DE NAVEGACION CON DIFERENTES ESTILOS AL INDEX*/
.navegacion {
  background-color: #151515; }

/*--------------------------
---ESTILOS DEL INDEX------
--------------------------*/
.barra {
  background-color: #151515; }

@media (min-width: 768px) {
  .barra {
    background-color: transparent;
    position: absolute;
    z-index: 100;
    width: 100%; }
  .header {
    position: relative; }
  .barra nav {
    background-color: transparent; } }

.nav-link {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px; }
  .nav-link:hover {
    color: white; }

.logo {
  font-family: 'Goblin One', cursive;
  font-size: 22px;
  letter-spacing: 0px;
  color: white;
  padding-top: 7px; }
  .logo:hover {
    color: white;
    text-decoration: none; }

.main__titulo {
  font-family: "Playfair Display", serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px; }

.main__texto {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 19px;
  letter-spacing: 0;
  color: #999; }

.sobreNosotros {
  background-image: url(../images/fondomesa.jpg);
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .sobreNosotros h2 {
    font-family: "Playfair Display", serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    position: relative; }
  .sobreNosotros p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 19px;
    letter-spacing: 0;
    color: #999;
    position: relative;
    text-decoration: underline;
    color: white; }

.sobreNosotros::before, #haceTuReserva::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.8; }

.nosotros h3 {
  font-family: "Playfair Display", serif;
  color: whitesmoke; }

.nosotros:hover {
  cursor: pointer; }

.nosotros:hover p {
  opacity: 1; }

.nosotros p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 19px;
  letter-spacing: 0;
  color: #999;
  color: white;
  opacity: 0;
  transition: .8s ease;
  text-decoration: none; }

.galeria h2 {
  font-family: "Playfair Display", serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px; }

#haceTuReserva {
  background-image: url("../images/reservar(1).jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  #haceTuReserva h2 {
    font-family: "Playfair Display", serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-size: 26px; }

#haceTuReserva::before {
  opacity: 0.6; }

.footer {
  background-color: #151515; }
  .footer h4 {
    font-family: "Playfair Display", serif;
    font-size: 22px;
    text-decoration: underline; }
  .footer p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px; }
  .footer .redes input {
    border: 1px solid #6C757D;
    border-radius: 0px; }
  .footer .redes button {
    border-radius: 0px; }

/*--------------------------
---ESTILOS DE HAMBURGUESAS------
--------------------------*/
.tituloHamburguesa {
  font-family: "Playfair Display", serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px; }

.hamburguesa {
  position: relative; }

.descripcionHamburguesa {
  position: absolute;
  top: 0;
  text-align: justify;
  color: white;
  text-align: center;
  width: 93.5%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transform: scale(0);
  transition: .3s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px; }

.hamburguesa:hover .descripcionHamburguesa {
  transform: scale(1); }

/*--------------------------
---ESTILOS DE CERVEZAS------
--------------------------*/
.tituloCerveza {
  font-family: "Playfair Display", serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px; }

.card-body {
  color: #020202; }
  .card-body .card-title {
    font-family: "Playfair Display", serif;
    text-transform: uppercase; }
  .card-body .list-group-item {
    font-family: "Roboto Condensed", sans-serif; }

/*--------------------------
---ESTILOS DE LOCALES------
--------------------------*/
.tituloLocales {
  font-family: "Playfair Display", serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px; }

.nombreLocal {
  font-family: "Playfair Display", serif; }

.descripcionLocales {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 19px;
  letter-spacing: 0;
  color: #999; }

/*--------------------------
---ESTILOS DE RESERVAS------
--------------------------*/
.tituloReserva {
  font-family: "Playfair Display", serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px; }

.contenedorReserevas {
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  background-color: #191919; }
