@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');


/*Variables*/
$funteTitulo:'Playfair Display', serif;
$fuenteParrafos:'Roboto Condensed', sans-serif;
$colorSecundario: #151515;


/*FUNCIONES*/
@mixin estiloTitulos {
    font-family: $funteTitulo;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
}

@mixin estilosParrafos{
    font-family: $fuenteParrafos;
    font-size: 19px;
    letter-spacing:0;
    color:#999;
}

/*ESTILOS GENERALES*/

body{
    background-color: #020202;
    color: white;
}

/*BARRA DE NAVEGACION CON DIFERENTES ESTILOS AL INDEX*/
.navegacion{
    background-color: #151515;
}

/*--------------------------
---ESTILOS DEL INDEX------
--------------------------*/

.barra{
    background-color: #151515;
}

@media (min-width: 768px){
    .barra{
        background-color: transparent;
        position: absolute;
        z-index: 100;
        width: 100%;
    }
    .header{
        position: relative;
    }
    .barra nav{
        background-color: transparent;
    }
}

.nav-link{
    color: rgba(255,255,255,0.9);
    font-size: 18px;
    &:hover{
        color: rgba(255,255,255,1);
    }
}
.logo{
    font-family: 'Goblin One', cursive;
    font-size: 22px;
    letter-spacing: 0px;
    color: white;
    padding-top: 7px;
    &:hover{
        color: white;
        text-decoration: none;
    }
}

.main__titulo{
    @include estiloTitulos;
}

.main__texto{
    @include estilosParrafos;
}

.sobreNosotros{
    background-image: url(../images/fondomesa.jpg);
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h2{
        @include estiloTitulos;
        position: relative;
    }
    p{
        @include estilosParrafos;
        position: relative;
        text-decoration: underline;
        color: white;
    }
}
.sobreNosotros::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.8;
}


.nosotros{
    h3{
        font-family: $funteTitulo;
        color: whitesmoke;
    }
    &:hover{
        cursor: pointer;}
        &:hover p{
            opacity: 1;
        }
            p{
                @include estilosParrafos;
                color:white;
                opacity: 0;
                transition: .8s ease;
                text-decoration: none;
            }
}
.galeria h2{
    @include estiloTitulos;
}



#haceTuReserva{
    h2{
        @include estiloTitulos;
        font-size: 26px;
    }

    background-image: url("../images/reservar\(1\).jpg");  
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

#haceTuReserva::before{
    @extend .sobreNosotros::before;
    opacity: 0.6;
}

.footer{
    background-color: #151515;
    h4{
        font-family: $funteTitulo;
        font-size: 22px;
        text-decoration: underline;
    }
    .contacto p{
        @include estilosParrafos;
        margin: 0;
    }
}

/*--------------------------
---ESTILOS DE HAMBURGUESAS------
--------------------------*/

.tituloHamburguesa {
    @include estiloTitulos;
}
.hamburguesa{
    position: relative;
}
.descripcionHamburguesa{
    position: absolute;
    top:0;
    text-align: justify;
    color: white;
    text-align: center;
    width: 93.5%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5) ;
    transform: scale(0);
    transition: .3s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $fuenteParrafos;
    font-size: 22px;
}
.hamburguesa:hover .descripcionHamburguesa{
    transform: scale(1);
}


/*--------------------------
---ESTILOS DE CERVEZAS------
--------------------------*/

.tituloCerveza{
    @include estiloTitulos;
}
.cerveza{
    position: relative;
}
.nombreCerveza{
    position: absolute;
    bottom:-3%;
    text-transform: uppercase;
    color: black;
    width: 92.4%;
    background: linear-gradient(rgba(255,255,255,0.4), rgba(0,0,0,0.6));
    font-family: $fuenteParrafos;
}

/*--------------------------
---ESTILOS DE LOCALES------
--------------------------*/
.tituloLocales{
    @include estiloTitulos;
}


/*--------------------------
---ESTILOS DE RESERVAS------
--------------------------*/
.tituloReserva{
    @include estiloTitulos;
}

.contenedorReserevas{
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 0 20px 0 rgba(255,255,255,0.3);
    background-color: #191919;;
}